DOWNLOADER_BOT_TOKEN=
DOWNLOADER_WEBHOOK_SECRET=
DOWNLOADER_SERVICE_KEY=
DOWNLOADER_ADMIN_USER_IDS=
DOWNLOADER_DATABASE_URL=mysql+aiomysql://downloader:replace@mysql:3306/downloader
DOWNLOADER_REDIS_URL=redis://redis:6379/0
DOWNLOADER_API_URL=http://api:8000
DOWNLOADER_WEBHOOK_BASE_URL=https://bot.amupouya.org
DOWNLOADER_DRY_RUN=true
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
PAPILIO_CONFIG=config.yml
